// Colors
$color-white: #ffffff;
$vivid-blue: #006EFE;
$bright-navy: #3E59E0;
$color-gray: #F5F6FA;
$dark-gray: #4f4f4f;
$black: #000000;
$black-shade: #1F2126;
$red: #FF3333;
$light-grey: #9B9B9B;
$very-dark-gray: #4A4A4A;
$silver: #C0C0C0;
$grayish-cyan: #bfd0d2;
$moderate-cyan: #57c6d4;
$orange-shade: #e17034;
